<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hotelmayura"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

		<uses-library android:name="com.google.android.maps" />
    
        <activity
            android:label="@string/splashscreen_title"
            android:name=".Splashscreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/dashboard_title"
            android:name=".Dashboard">
        </activity>
        <activity
            android:label="@string/about_us_title"
            android:name=".AboutUs">
        </activity>
        <activity
            android:label="@string/contact_us_title"
            android:name=".ContactUsTabs">
        </activity>
        <activity
            android:label="@string/contact_us_title"
            android:name=".ContactUsLA">
        </activity>
        <activity
            android:label="@string/contact_us_title"
            android:name=".ContactUsCC">
        </activity>
        <activity
            android:label="Map"
            android:name=".Maps"
            android:theme="@android:style/Theme.NoTitleBar">
        </activity>
        <activity
            android:label="@string/menu_title"
            android:name=".Menu">
        </activity>
        <activity
            android:label="@string/menu_detail_title"
            android:name=".MenuDetail">
        </activity>
        <activity
            android:label="@string/reviews_title"
            android:name=".ReviewsMain">
        </activity>
        <activity
            android:label="@string/reviews_title"
            android:name=".Reviews">
        </activity>
    </application>

<!--fingerprin: A1:1A:B3:81:58:D4:25:BC:91:51:9D:F2:45:83:99:0F
	key: 01ZJQhTxA3UoA2JtwxW27_56_raRnWiJRd_mI6A -->
</manifest>